
parameters:

    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - tests/bootstrap.php

    bootstrapFiles:
        - vendor/autoload.php

    ignoreErrors:
        -
          identifier: missingType.generics
        - '#Class Doctrine\\DBAL\\Platforms\\PostgreSqlPlatform not found#'
