
parameters:

    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - tests/bootstrap.php

    bootstrapFiles:
        - vendor/autoload.php

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Class Doctrine\\DBAL\\Platforms\\PostgreSqlPlatform not found#'
